/* Page-Wide */
body {
  background-color: white;
  font-family: serif;
  text-align-last: center;
}
/* Colored Blocks */
.square {
  width: 50%;
  height: 50%;
}
#white {
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
}
#blue {
  background-color: #ADD8E6;
  position: absolute;
  top: 0;
  right: 0;
}
#red {
  background-color: #B0D197;
  position: absolute;
  bottom: 0;
  left: 0;
}
#cream {
  background-color: #F5DEB3;
  position: absolute;
  bottom: 0;
  right: 0;
}
/* Numbers */
.numbers {
  opacity: .7;
    font-size: 350px;
    display: flex;
    justify-content: space-evenly;
}
div img {
  position: absolute;
  bottom: 135px;
    left: 450px;
    width:400px;
    height: 400px;
}
.container pre {
  position: absolute;
  bottom: 120px;
  left: 310px;
  font-size: 45px;
}
