body {
    background-color: #879E84;
    display: block;
    margin: 8px;
  }
  .container {
      background-color: #B9DAB5;
      padding: 4em;
      margin: 3em;
    }

    a:hover {
       color: #1CCDCA;
       font-style: italic;
    }
    a:active {
       color: #009683;
       font-style: italic;
    }
    .container p:first-of-type:first-letter {
        font-family: 'Serif', cursive;
        font-size: 4em;
        letter-spacing: 10px;
        font-weight: 700;
        color: #244021;
      }
      .container {
         font-family: 'PlayfairDisplay', sans-serif;
         font-weight: normal;
      }
      h1 {
        text-align: center;
      }
