@import url('https://fonts.googleapis.com/css?family=Shrikhand');

html {
  width: 100%;
  height: 100%;
  background-image: url(../images/red-stripes.png);
  background-size: cover;
  margin: 0;
}
body {
  width: inherit;
font-family: 'Shrikhand', cursive;
  margin: 0;
}
a {
  text-decoration: none;
}

/* BACKGROUND */
.background {
  height: auto;
/* Positioning */
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -2;
}
.overlay {
  width: 100%;
  height: 100%;
  background-image: url(../images/red-stripes.jpg);
  background-size: cover;
  opacity: .7;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


/* Insta & List CONTENT BOX */
.content {
  width: inherit;
/* Positioning */
  position: absolute;
  bottom: 7%;
}

/* Instagram */
.instagram {
  display: block;
  margin: -170px 15px;
}
.instagram img {
  width: 20px;
  height: 20px;
  background-color: #f3b164;
  border: 2px solid black;
  border-radius: 10px;
  padding: 7px;
}
.instagram img:hover {
  border: 4px solid black;
  margin-bottom: 5px;
}


/* List */
.list {
  width: inherit;
  font-size: 2em;
}
h1 {
  background-color: rgba(255,255,255,.5);
  border: 3px solid #000000;
  color: #000000de;
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
  padding-right: 30px;
  margin: 0;
}
ul {
  list-style-type: none;
  color: #000000de;
  text-align: right;
  margin: 0;
  padding-right: 30px;
}
li {
  display: inline;
}
/* GITHUB LINK */
.github {
  width: 90px;
  height: 45px;
  border: 2px solid #000000;
  border-radius: 5px;
/* Positioning */
  float: right;
  margin: 30px;
  padding: 10px;
}
.github:hover {
  background-color: #FCBA13;
}
#arrows {
  width: 100px;
  height: 57px;
  margin: -6px;
}
